body {
  font-family: "Lato", sans-serif;
}



.main-head{
  height: 150px;
  background: #FFF;

}

.sidenav {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
}


.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
  .login-form{
	margin-top: 10%;
  }

  .register-form{
	margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
	margin-left: 40%;
  }

  .sidenav{
	width: 40%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
  }

  .login-form{
	margin-top: 10%;
  }

  .register-form{
	margin-top: 20%;
  }
}


.login-main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2{
  font-weight: 300;
}

.btn-block{
  background-color: rgba(117, 94, 150, 0.85) !important;
  color: #fff;
  width: auto;
  margin: auto;
}
.btn-block:hover{
  background-color: rgba(210, 203, 223, 0.85) !important;
  color: #2e0b4b;
}