{% extends 'content_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/algolia-autocomplete.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
    <script src="{{ asset('js/admin_article_form.js') }}"></script>
{% endblock %}

{% block content_body %}
    <h1>Launch a new Article 🚀 !!!</h1>


    {{ include('article_admin/_form.html.twig', {
        button_text: 'Create!'
    }) }}
    {#{{ form_start(articleForm) }}

    {{ form_row(articleForm.title, {
        label: 'Article title'
    }) }}#}

    {#Així perdem el markup del row, p.e. la div class=form-group#}
    {#{{ form_label(articleForm.title, 'Article title') }}
    {{ form_errors(articleForm.title) }}
    {{ form_widget(articleForm.title) }}
    {{ form_help(articleForm.title) }}#}

    {#{{ form_row(articleForm.author) }}
    {{ form_row(articleForm.content) }}
    {{ form_row(articleForm.publishedAt) }}

        <button type="submit" class="btn btn-primary">Create!</button>

    {{ form_end(articleForm) }}#}
{% endblock %}